[Unit]
Description=Snap daemon
Documentation=man:snapd(8) man:snapctl(1)
After=network.target

[Service]
ExecStart=/usr/bin/snapd
ExecStop=/bin/kill -INT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
